@import "tailwindcss";


@layer base {
  .ovo {
    font-family: "Ovo", serif;
  }

  .outfit {
    font-family: "Outfit", sans-serif;
  }
}

@layer utilities {
  .light-hover:hover {
    background-color: #fcf4ff;
  }

  .dark-shadow {
    transition-property: box-shadow;
  }

  .hover\:dark-shadow:hover {
    box-shadow: 4px 4px 0 #000;
  }

  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }


  /* DARK MODE:*/
  .dark .dark-theme {
    background-color: #11001f;
    color: #ffffff;
  }

  .dark .dark-text-gray-700 {
    color: #d4d4d4;
  }

  .dark .dark-text-black {
    color: #000;
  }

  .dark .dark-text-white {
    color: #ffffff;
  }

  .dark .dark-hidden {
  display: none;
}


  .dark .dark-bg-white-op {
    color: rgba(255, 255, 255, 0.8);
  }

  .dark .dark-border-white {
    border-color: #ffffff;
  }

  .dark .dark-hover:hover {
    background-color: #2a0041;
    box-shadow: 4px 4px 0 #fff;
  }

  .dark .dark-hover-bg:hover {
    background-color: #2a0041;
  }

  .dark .dark-remove-bg {
    background: unset;
  }

  .dark .dark-border-white-px {
    border: 0.5px solid white;
  }

  .dark .dark-bg-menu {
    background-color: #2a0041
  }

  .dark .dark-bg {
    background-color: #2a00414D
  }

  .dark .dark-border-white-op {
    border-color: #ffffffE6;
  }

   .dark .dark-bg-work {
    background-color: #2a00414D;
  }
}